.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: #21556c;
  width: 74px;
  padding-top: 26px;
  box-shadow: -11px 6px 38px -4px black;
  z-index: 99;
  overflow-x: hidden;
  transition: all 0.4s ease;


  .nav_list {
    padding: 40px 0 0 0;

    li a {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 16px;
      padding: 15px 20px;
      transition: all 0.2s ease;
      margin-bottom: 20px;
    }

    li:hover {
      cursor: pointer;
      background-color: #1a9abb;
      border-radius: 10px;
    }

    li{
      transition: all 0.3s ease;
    }

    li a:hover {
      color: white;
    }

    li a span {
      margin-left: 12px;
      opacity: 0;
    }

    li a svg {
      transform: translateX(6px);
      min-width: 20px;
      font-size: 18px;

    }
  }

  .profile {
    color: #f3f3f3;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 36px 20px;
    opacity: 0;

    p {
      margin-left: 18px;
      background-color: #fff;
      padding: 20px;
      border-radius: 0 0 70px 70px;

      img{
        width: 100px;
        padding-left: 7px;
      }
    }
  }

  .sidebar ul {
    margin-top: 20px;
  }

  .logo_content {
    .fa-bars {
      color: white;
      position: absolute;
      left: 50%;
      font-size: 20px;
      text-align: center;
      top: 42px;
      cursor: pointer;
      transform: translateX(-50%);
      transition: all 0.5s ease;
    }
  }

}

.sidebar.active {
  width: 240px;
}

.sidebar.active .profile {
  opacity: 1;
}

.sidebar.active .nav_list li a span {
  opacity: 1;
}


.sidebar.active .logo_content .fa-bars {
  left: 90%;
}

.nav_active {
  background-color: #1a9abb;
  border-radius: 10px;
}

/* SCROll  */
.sidebar::-webkit-scrollbar  {
  width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb{
  background: #1a9abb;
  border-radius: 10px;
  outline: 1px solid #1a9abb;
}





