.lawyers_table_container{
  margin-top:50px;
  .tss-1qtl85h-MUIDataTableBodyCell-root{
    padding-left:15px
  }
  .MuiTablePagination-selectLabel{
    margin:0;
}
.MuiTablePagination-displayedRows{
    margin: 0
}
}