.card-container{
  height: 80px;
  display: flex;
  padding: 10px 18px;
  flex-direction: row;
  border-bottom: 1px solid rgb(233, 222, 222);
  align-items: center;
  cursor: pointer;

}
.-selected{
  background-color: #96969617;
}

.profile-pic{
  height: 70%;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.convo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8px;
  flex: 1;
  &-desc{
    display: flex;
    flex-direction: column;
    &-name{
      margin-bottom: 5px;
      font-size: smaller;
      font-weight: bold;
    }
    &-content{
      margin-bottom: 0;
      font-size: 10px;
      line-height: 14px;
      font-weight: 500;
      color: rgb(134, 131, 131);
      text-shadow: .5px .5px rgb(143, 138, 138);
    }
  }
  &-time{
    font-size: 10px;
    font-weight: 500;
    color: rgb(134, 131, 131);
    text-shadow: .5px .5px rgb(143, 138, 138);
  }
}
