@import '../../../color';

.privacy_policy{
  padding: 50px 0;

  p {
    color: $paragraph;
    font-size: 14px;

    span{
      color: $button;
      font-weight: 600;
    }
  }
  h6{
    color: $button;
    font-size: 20px;
    font-weight: 600;
  }

  h5{
    font-weight: 700;
  }

  ul {
    li{
      color: $darkBlue;
      font-weight: 600;
      font-size: 13px;
    }
  }
}